In [2]:
###################################################
##
##                 Partie I
##   Analyse Empirique et Exploratoire  des Données
##
## 1- Lecture des données
## 2- Exploration des données
## 3- Extraction des données pour la première station
## 4- Trace les données pour cette station
##
####################################################

##### Lecture des données brutes #########
mydata <- read.csv("MFdata.csv")
postesMF <- read.csv("MFpostes.csv")

In [3]:
head(mydata)

  X NumPoste Year Month Day Tn   Tx  RR
1 1 21473001 1961 1     1    2.4 4.8  3.1
2 2 21473001 1961 1     2   -1.2 7.8 15.2
3 3 21473001 1961 1     3    4.2 8.0  3.7
4 4 21473001 1961 1     4    2.2 7.3  5.6
5 5 21473001 1961 1     5    2.0 5.8  0.0
6 6 21473001 1961 1     6   -0.4 3.0  4.5