In [1]:
## Chemin vers l'espace de travail
## ici le dossier Data -- Pensez à bien indiquer cela avec RStudio 
setwd("../Data")

############### Stations Météo France ###############################
####### lecture et chargement des données quotidiennes ################
#####################################################################

mydataMF <- read.csv("Q_21_previous-1950-2022_RR-T-Vent.csv", sep = ";")
class(mydataMF) ## Classe de l'objet
str(mydataMF) ## structure de l'objet avec le type des données contenues

[1] "data.frame"

'data.frame':	1511788 obs. of  58 variables:
 $ NUM_POSTE: int  21010001 21010001 21010001 21010001 21010001 21010001 21010001 21010001 21010001 21010001 ...
 $ NOM_USUEL: chr  "ALOXE CORTON" "ALOXE CORTON" "ALOXE CORTON" "ALOXE CORTON" ...
 $ LAT      : num  47.1 47.1 47.1 47.1 47.1 ...
 $ LON      : num  4.86 4.86 4.86 4.86 4.86 ...
 $ ALTI     : int  273 273 273 273 273 273 273 273 273 273 ...
 $ AAAAMMJJ : int  19570101 19570102 19570103 19570104 19570105 19570106 19570107 19570108 19570109 19570110 ...
 $ RR       : num  0 0 1.5 0 0 1.4 0 0 0 4 ...
 $ QRR      : int  9 9 9 9 9 9 9 9 9 9 ...
 $ TN       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QTN      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ HTN      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QHTN     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ TX       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QTX      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ HTX      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QHTX     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ TM       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QTM      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ TNTXM    : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QTNTXM   : int  NA NA NA NA NA NA NA NA NA NA ...
 $ TAMPLI   : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QTAMPLI  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ TNSOL    : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QTNSOL   : int  NA NA NA NA NA NA NA NA NA NA ...
 $ TN50     : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QTN50    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ DG       : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QDG      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ FFM      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QFFM     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ FF2M     : logi  NA NA NA NA NA NA ...
 $ QFF2M    : logi  NA NA NA NA NA NA ...
 $ FXY      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QFXY     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ DXY      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QDXY     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ HXY      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QHXY     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ FXI      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QFXI     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ DXI      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QDXI     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ HXI      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QHXI     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ FXI2     : logi  NA NA NA NA NA NA ...
 $ QFXI2    : logi  NA NA NA NA NA NA ...
 $ DXI2     : logi  NA NA NA NA NA NA ...
 $ QDXI2    : logi  NA NA NA NA NA NA ...
 $ HXI2     : logi  NA NA NA NA NA NA ...
 $ QHXI2    : logi  NA NA NA NA NA NA ...
 $ FXI3S    : num  NA NA NA NA NA NA NA NA NA NA ...
 $ QFXI3S   : int  NA NA NA NA NA NA NA NA NA NA ...
 $ DXI3S    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QDXI3S   : int  NA NA NA NA NA NA NA NA NA NA ...
 $ HXI3S    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QHXI3S   : int  NA NA NA NA NA NA NA NA NA NA ...
 $ DRR      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ QDRR     : int  NA NA NA NA NA NA NA NA NA NA ...

In [2]:
## Exploration des données Météo-France##
########################################################
head(mydataMF) ## affichage les premières lignes des données
tail(mydataMF) ## affichage des dernières lignes des données
dim(mydataMF) ## dimension de l'objet

  NUM_POSTE NOM_USUEL    LAT    LON    ALTI AAAAMMJJ RR  QRR TN QTN ⋯ HXI2
1 21010001  ALOXE CORTON 47.069 4.8615 273  19570101 0.0 9   NA NA  ⋯ NA
2 21010001  ALOXE CORTON 47.069 4.8615 273  19570102 0.0 9   NA NA  ⋯ NA
3 21010001  ALOXE CORTON 47.069 4.8615 273  19570103 1.5 9   NA NA  ⋯ NA
4 21010001  ALOXE CORTON 47.069 4.8615 273  19570104 0.0 9   NA NA  ⋯ NA
5 21010001  ALOXE CORTON 47.069 4.8615 273  19570105 0.0 9   NA NA  ⋯ NA
6 21010001  ALOXE CORTON 47.069 4.8615 273  19570106 1.4 9   NA NA  ⋯ NA
  QHXI2 FXI3S QFXI3S DXI3S QDXI3S HXI3S QHXI3S DRR QDRR
1 NA    NA    NA     NA    NA     NA    NA     NA  NA
2 NA    NA    NA     NA    NA     NA    NA     NA  NA
3 NA    NA    NA     NA    NA     NA    NA     NA  NA
4 NA    NA    NA     NA    NA     NA    NA     NA  NA
5 NA    NA    NA     NA    NA     NA    NA     NA  NA
6 NA    NA    NA     NA    NA     NA    NA     NA  NA

        NUM_POSTE NOM_USUEL     LAT      LON      ALTI AAAAMMJJ RR QRR TN QTN ⋯
1511783 21714001  VOSNE ROMANEE 47.16183 4.954167 255  20190625 0  1   NA NA  ⋯
1511784 21714001  VOSNE ROMANEE 47.16183 4.954167 255  20190626 0  1   NA NA  ⋯
1511785 21714001  VOSNE ROMANEE 47.16183 4.954167 255  20190627 0  1   NA NA  ⋯
1511786 21714001  VOSNE ROMANEE 47.16183 4.954167 255  20190628 0  1   NA NA  ⋯
1511787 21714001  VOSNE ROMANEE 47.16183 4.954167 255  20190629 0  1   NA NA  ⋯
1511788 21714001  VOSNE ROMANEE 47.16183 4.954167 255  20190630 0  1   NA NA  ⋯
        HXI2 QHXI2 FXI3S QFXI3S DXI3S QDXI3S HXI3S QHXI3S DRR QDRR
1511783 NA   NA    NA    NA     NA    NA     NA    NA     NA  NA
1511784 NA   NA    NA    NA     NA    NA     NA    NA     NA  NA
1511785 NA   NA    NA    NA     NA    NA     NA    NA     NA  NA
1511786 NA   NA    NA    NA     NA    NA     NA    NA     NA  NA
1511787 NA   NA    NA    NA     NA    NA     NA    NA     NA  NA
1511788 NA   NA    NA    NA     NA    NA     NA    NA     NA  NA

[1] 1511788      58

In [5]:
###########################################################
## Identification du nombre de stations Météo-France
###########################################################
MFposte <- unique(mydataMF[, c("NUM_POSTE", "NOM_USUEL", "LAT", "LON", "ALTI")])
head(MFposte) ## Affichage des premières lignes des données
dim(MFposte)
write.csv(MFposte,file="MFposte21.csv")

       NUM_POSTE NOM_USUEL          LAT      LON      ALTI
1      21010001  ALOXE CORTON       47.06900 4.861500 273
21949  21012001  AMPILLY LE SEC     47.80833 4.529000 277
47959  21023001  ARNAY LE DUC       47.13333 4.493333 365
65004  21030001  AUBAINE            47.16667 4.703833 380
87222  21038001  AUXONNE            47.19017 5.380000 185
109137 21043001  BAIGNEUX LES JUIFS 47.60033 4.645167 415

[1] 111   5

In [7]:
## Nettoyage des données i.e. suppression/conservation des certaines colonnes
## pour cela on s'aide du fichier "Q_descriptif_champs_RR-T-Vent.csv"
## récupéré sur le site https://meteo.data.gouv.fr/

mydataMF <- mydataMF[, c("NUM_POSTE", "AAAAMMJJ", "RR", "TN", "TX")]
dim(mydataMF)
str(mydataMF)

[1] 1511788       5

'data.frame':	1511788 obs. of  5 variables:
 $ NUM_POSTE: int  21010001 21010001 21010001 21010001 21010001 21010001 21010001 21010001 21010001 21010001 ...
 $ AAAAMMJJ : int  19570101 19570102 19570103 19570104 19570105 19570106 19570107 19570108 19570109 19570110 ...
 $ RR       : num  0 0 1.5 0 0 1.4 0 0 0 4 ...
 $ TN       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ TX       : num  NA NA NA NA NA NA NA NA NA NA ...

In [8]:
## Quel est le format de données de la colonne qui contient les dates ? ##
## création d'un vecteur date nécessaire pour créer un objet xts

mydates <- as.Date(as.character(mydataMF$AAAAMMJJ), "%Y%m%d")
## Chargement de la librairie xts
library(xts)

Le chargement a nécessité le package : zoo


Attachement du package : ‘zoo’


Les objets suivants sont masqués depuis ‘package:base’:

    as.Date, as.Date.numeric

In [9]:
mydataMF.xts <- xts(mydataMF[, c("NUM_POSTE","TN", "TX", "RR")], order.by = mydates)
dim(mydataMF.xts)

[1] 1511788       4

In [10]:
## Ici on découpe la période d'intérêt
mydataMF.xts <- mydataMF.xts["1975/2005"]
dim(mydataMF.xts)

[1] 742161      4

In [10]:
## Attention les données sont maintenant ordonnées selon les dates et non les stations
## vérifier cela

In [18]:
## Boucle pour calculer les moyennes mensuelles pour chaque station
## et pour les trois variables climatiques Tn, Tx, RR

## Création d'objets vide que l'on va remplir par le calcul
## 3 objets pour les moyennes et 3 pour sélectionner les stations
## avec suffisamment de données et peu/pas de NA

dfnatx <- c();dftx <- c()
dfnatn <- c();dftn <- c()
dfnarr <- c();dfrr <- c()

for (i in MFposte$NUM_POSTE) {
  print(i)## affiche le numéro de la station MF qui est traitée
  tmp <- mydataMF.xts[mydataMF.xts$NUM_POSTE %in% i]

  if (nrow(tmp) == 0) { ## si la station n'a pas de données pour la période 1975/2005
    dfnatx <- cbind(dfnatx, NA)
    dfnatn <- cbind(dfnatn, NA)
    dfnarr <- cbind(dfnarr, NA)
    dftx <- cbind(dftx, NA)
    dftn <- cbind(dftn, NA)
    dfrr <- cbind(dfrr, NA)
  } else { 
    ## On calcule le nombre de NA pour chaque variable et pour chaque mois
    tmpna <- apply.monthly(
        tmp[, c("TN", "TX", "RR")],
        function(x) apply(x, 2, function(x) length(which(is.na(x))))
      )
    ## On rempli les objets pour avoir le nombre de NA par station, par mois et par variable
    dfnatx <- cbind(dfnatx, tmpna$TX)
    dfnatn <- cbind(dfnatn, tmpna$TN)
    dfnarr <- cbind(dfnarr, tmpna$RR)
        
    ## On calcule les moyennes mensuelles pour les températures 
    tmpst <- apply.monthly(tmp[, c("TN", "TX")],
      FUN = function(x) colMeans(x, na.rm = TRUE)
    )
    ## On rempli les objets avec les résultats
    dftx <- cbind(dftx, tmpst$TX)
    dftn <- cbind(dftn, tmpst$TN)
    
    ## On calcule les cumuls mensuels
    tmpstr <- apply.monthly(tmp[, c("RR")],
      FUN = function(x) colSums(x, na.rm = TRUE)
    )
    dfrr <- cbind(dfrr, tmpstr$RR)
  }
}

[1] 21010001
[1] 21012001
[1] 21023001
[1] 21030001
[1] 21038001
[1] 21043001
[1] 21054001
[1] 21054002
[1] 21056001
[1] 21065001
[1] 21068001
[1] 21109001
[1] 21116002
[1] 21131001
[1] 21139001
[1] 21142001
[1] 21146001
[1] 21154001
[1] 21154002
[1] 21164002
[1] 21196001
[1] 21228001
[1] 21231001
[1] 21231002
[1] 21231006
[1] 21231007
[1] 21237001
[1] 21271001
[1] 21277001
[1] 21292001
[1] 21296001
[1] 21299001
[1] 21304002
[1] 21308001
[1] 21310001
[1] 21312001
[1] 21317001
[1] 21321001
[1] 21326001
[1] 21332001
[1] 21336001
[1] 21349001
[1] 21351001
[1] 21357001
[1] 21357002
[1] 21361001
[1] 21380001
[1] 21382001
[1] 21382002
[1] 21383001
[1] 21384001
[1] 21386001
[1] 21390001
[1] 21395001
[1] 21396001
[1] 21406001
[1] 21409001
[1] 21410001
[1] 21419001
[1] 21425001
[1] 21441001
[1] 21445001
[1] 21446001
[1] 21449001
[1] 21454001
[1] 21461001
[1] 21461002
[1] 21464001
[1] 21471001
[1] 21473001
[1] 21484001
[1] 21497001
[1] 21501001
[1] 21501003
[1] 21503001
[1] 21515001
[1] 21517001
[1] 21519001
[1] 21525001
[1] 21527001
[1] 21546001
[1] 21546011
[1] 21560001
[1] 21561001
[1] 21561003
[1] 21564001
[1] 21567001
[1] 21569001
[1] 21573001
[1] 21584001
[1] 21589001
[1] 21590001
[1] 21603001
[1] 21603003
[1] 21611001
[1] 21633001
[1] 21633002
[1] 21638002
[1] 21648001
[1] 21656001
[1] 21663001
[1] 21676001
[1] 21685001
[1] 21690001
[1] 21699001
[1] 21705001
[1] 21710001
[1] 21710004
[1] 21711001
[1] 21713001
[1] 21714001

In [20]:
## le calcul renvoie des NaN si que des NA dans la série
## On les remplace par des NA
dftn[dftn == "NaN"] <- NA; dfnatn[dfnatn == "NaN"] <- NA
dftx[dftx == "NaN"] <- NA; dfnatx[dfnatx == "NaN"] <- NA
dfrr[dfrr == "NaN"] <- NA; dfnarr[dfnarr == "NaN"] <- NA

class(dftx)
dim(dftx)
head(dftx)

[1] "xts" "zoo"

[1] 389 111

           TX TX.1 TX.2 TX.3      TX.4      TX.5 TX.6 NA. TX.7 TX.8 TX.9 TX.10
1975-01-31 NA   NA   NA   NA  6.990323  8.258065   NA  NA   NA   NA   NA    NA
1975-02-28 NA   NA   NA   NA  8.425000  9.725000   NA  NA   NA   NA   NA    NA
1975-03-31 NA   NA   NA   NA  7.706452  6.570968   NA  NA   NA   NA   NA    NA
1975-04-30 NA   NA   NA   NA 13.820000 13.280000   NA  NA   NA   NA   NA    NA
1975-05-31 NA   NA   NA   NA 17.148387 16.680645   NA  NA   NA   NA   NA    NA
1975-06-30 NA   NA   NA   NA 20.763333 20.840000   NA  NA   NA   NA   NA    NA
           NA..1 TX.11 TX.12 TX.13 TX.14     TX.15 NA..2 TX.16     TX.17
1975-01-31    NA    NA    NA    NA    NA  8.596774    NA    NA  8.587097
1975-02-28    NA    NA    NA    NA    NA 10.632143    NA    NA 10.064286
1975-03-31    NA    NA    NA    NA    NA  7.603226    NA    NA  9.541935
1975-04-30    NA    NA    NA    NA    NA 13.416667    NA    NA 15.893333
1975-05-31    NA    NA    NA    NA    NA 16.838710    NA    NA 18.951613
1975-06-30    NA    NA    NA    NA    NA 20.923333    NA    NA 23.390000
               TX.18 TX.19 TX.20 TX.21 TX.22 TX.23 TX.24     TX.25 TX.26 TX.27
1975-01-31  6.109677    NA    NA    NA    NA    NA    NA  7.458065    NA    NA
1975-02-28  8.178571    NA    NA    NA    NA    NA    NA  9.614286    NA    NA
1975-03-31  5.896774    NA    NA    NA    NA    NA    NA  8.554839    NA    NA
1975-04-30 12.263333    NA    NA    NA    NA    NA    NA 14.496667    NA    NA
1975-05-31 16.300000    NA    NA    NA    NA    NA    NA 18.187097    NA    NA
1975-06-30 20.163333    NA    NA    NA    NA    NA    NA 22.323333    NA    NA
           TX.28 TX.29 TX.30 TX.31 TX.32 TX.33 TX.34 NA..3 TX.35 TX.36 TX.37
1975-01-31    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-02-28    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-03-31    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-04-30    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-05-31    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-06-30    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
           TX.38 NA..4 TX.39 TX.40 TX.41 TX.42 TX.43 TX.44 TX.45 TX.46
1975-01-31    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-02-28    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-03-31    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-04-30    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-05-31    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-06-30    NA    NA    NA    NA    NA    NA    NA    NA    NA    NA
               TX.47 NA..5 TX.48 TX.49 NA..6 TX.50 TX.51 TX.52 TX.53 TX.54
1975-01-31  7.648387    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-02-28  9.410714    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-03-31  8.780645    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-04-30 14.890000    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-05-31 18.625806    NA    NA    NA    NA    NA    NA    NA    NA    NA
1975-06-30 23.216667    NA    NA    NA    NA    NA    NA    NA    NA    NA
           TX.55 TX.56 TX.57 TX.58 TX.59 TX.60 TX.61     TX.62 TX.63 TX.64
1975-01-31    NA    NA    NA    NA    NA    NA    NA  7.806452    NA    NA
1975-02-28    NA    NA    NA    NA    NA    NA    NA  9.578571    NA    NA
1975-03-31    NA    NA    NA    NA    NA    NA    NA  8.622581    NA    NA
1975-04-30    NA    NA    NA    NA    NA    NA    NA 14.413333    NA    NA
1975-05-31    NA    NA    NA    NA    NA    NA    NA 17.832258    NA    NA
1975-06-30    NA    NA    NA    NA    NA    NA    NA 21.763333    NA    NA
           TX.65 TX.66 TX.67 TX.68 NA..7 TX.69 TX.70     TX.71 TX.72 TX.73
1975-01-31    NA    NA    NA    NA    NA    NA    NA  6.951613    NA    NA
1975-02-28    NA    NA    NA    NA    NA    NA    NA  7.732143    NA    NA
1975-03-31    NA    NA    NA    NA    NA    NA    NA  7.161290    NA    NA
1975-04-30    NA    NA    NA    NA    NA    NA    NA 13.100000    NA    NA
1975-05-31    NA    NA    NA    NA    NA    NA    NA 16.338710    NA    NA
1975-06-30    NA    NA    NA    NA    NA    NA    NA 20.300000    NA    NA
           TX.74 TX.75 TX.76     TX.77 TX.78 NA..8 NA..9     TX.79 TX.80
1975-01-31    NA    NA    NA  8.003226    NA    NA    NA  7.519355    NA
1975-02-28    NA    NA    NA  9.739286    NA    NA    NA  9.071429    NA
1975-03-31    NA    NA    NA  8.674194    NA    NA    NA  5.996774    NA
1975-04-30    NA    NA    NA 14.666667    NA    NA    NA 12.653333    NA
1975-05-31    NA    NA    NA 17.951613    NA    NA    NA 15.174194    NA
1975-06-30    NA    NA    NA 22.123333    NA    NA    NA 19.033333    NA
               TX.81 TX.82 NA..10 TX.83 NA..11 NA..12 TX.84 TX.85 TX.86 TX.87
1975-01-31  7.816129    NA     NA    NA     NA     NA    NA    NA    NA    NA
1975-02-28  9.264286    NA     NA    NA     NA     NA    NA    NA    NA    NA
1975-03-31  8.464516    NA     NA    NA     NA     NA    NA    NA    NA    NA
1975-04-30 14.426667    NA     NA    NA     NA     NA    NA    NA    NA    NA
1975-05-31 17.761290    NA     NA    NA     NA     NA    NA    NA    NA    NA
1975-06-30 21.950000    NA     NA    NA     NA     NA    NA    NA    NA    NA
           TX.88 TX.89 TX.90 NA..13 TX.91 TX.92 TX.93 TX.94 TX.95 TX.96
1975-01-31    NA    NA    NA     NA    NA    NA    NA    NA    NA    NA
1975-02-28    NA    NA    NA     NA    NA    NA    NA    NA    NA    NA
1975-03-31    NA    NA    NA     NA    NA    NA    NA    NA    NA    NA
1975-04-30    NA    NA    NA     NA    NA    NA    NA    NA    NA    NA
1975-05-31    NA    NA    NA     NA    NA    NA    NA    NA    NA    NA
1975-06-30    NA    NA    NA     NA    NA    NA    NA    NA    NA    NA

In [21]:
## nettoyage des données, on enlève les mois incomplets
##
indom <- which(as.numeric(format(index(dftx), format = "%d")) < 28)
dftx <- dftx[-indom, ]; dfnatx <- dfnatx[-indom, ]
indom <- which(as.numeric(format(index(dftn), format = "%d")) < 28)
dftn <- dftn[-indom, ]; dfnatn <- dfnatn[-indom, ]
indom <- which(as.numeric(format(index(dfrr), format = "%d")) < 28)
dfrr <- dfrr[-indom, ]; dfnarr <- dfnarr[-indom, ]
###################################################################

In [22]:
## calcul des moyennes mensuelles toutes années confondus
## initalise les objets pour l'ensemble des résultats

## Création d'une fonction pour écarter les stations & mois incomplets
##
MFclean <- function(myxts, myxtsna){

  ## identifie les mois avec plus de 5 jours sans données
  ## et ceux avec des NA
  ind <- which(myxtsna > 5 | is.na(myxtsna))

  myxts[ind] <- NA
  
  mwna <- length(which(is.na(myxts)))
  ## si mwna > 60 i.e. plus de 5 ans sans données (12*5)
  ## alors tout en NA pour écarter la station
  if(mwna>60){
    myxts[] <- NA
  }
 return(myxts)
}

In [23]:
## Boucle principale du calcul des moyennes climatologiques période 1975/2005
resuMFTn <- c()
resuMFTx <- c()
resuMFRR <- c()
for (i in 1:ncol(dftn)){## boucle su les station qui sont en colonne
  tmptn <- MFclean(dftn[, i], dfnatn[, i])
  tmptx <- MFclean(dftx[, i], dfnatx[, i])
  tmprr <- MFclean(dfrr[, i], dfnarr[, i])
  ## initialise objet vide pour les moyennes mensuelles
  rmoiTn <- c()
  rmoiTx <- c()
  rmoiRR <- c()
  for (j in 1:12) {## boucle pous faire la moyenne de tous les mois de janvier, puis février etc.
    moi <- tmptn[.indexmon(tmptn) %in% (j - 1)]
    rmoiTn <- cbind(rmoiTn, colMeans(moi, na.rm = TRUE))
    moi <- tmptx[.indexmon(tmptx) %in% (j - 1)]
    rmoiTx <- cbind(rmoiTx, colMeans(moi, na.rm = TRUE))
    moi <- tmprr[.indexmon(tmprr) %in% (j - 1)]
    rmoiRR <- cbind(rmoiRR, colMeans(moi, na.rm = TRUE))
  }
  resuMFTn <- rbind(resuMFTn, rmoiTn)
  resuMFTx <- rbind(resuMFTx, rmoiTx)
  resuMFRR <- rbind(resuMFRR, rmoiRR)
}

In [24]:
dim(resuMFTn)

[1] 111  12

In [18]:
## Change les noms des colonnes
colnames(resuMFTn) <- month.abb
colnames(resuMFTx) <- month.abb
colnames(resuMFRR) <- month.abb

In [26]:
## fonction pour identifier les stations sans valeurs 
## afin de les écarter
MFind <- function(mydf) {
  ind <- which(apply(mydf, 1,
                     function(x) length(which(is.na(x)))) > 11)
  return(as.vector(ind))
}

In [27]:
## selection les stations des données
resuMFTn[resuMFTn == "NaN"] <- NA
ind <- MFind(resuMFTn)
resuMFTn <- resuMFTn[-ind, ]
MFTnposte <- MFposte[-ind,]

resuMFTx[resuMFTx == "NaN"] <- NA
ind <- MFind(resuMFTx)
resuMFTx <- resuMFTx[-ind, ]
MFTxposte <- MFposte[-ind, ]

resuMFRR[resuMFRR == "NaN"] <- NA
ind <- MFind(resuMFRR)
resuMFRR <- resuMFRR[-ind, ]
MFRRposte <- MFposte[-ind, ]

In [31]:
dim(resuMFTn)
dim(resuMFRR)
## Qu'en déduisez-vous à partir des dimension des objets qui contiennent les résultats ?
MFTxposte

[1] 10 12

[1] 44 12

        NUM_POSTE NOM_USUEL            LAT      LON      ALTI
87222   21038001  AUXONNE              47.19017 5.380000 185
109137  21043001  BAIGNEUX LES JUIFS   47.60033 4.645167 415
278257  21154001  CHATILLON/SEINE      47.84933 4.581333 262
735589  21390001  MARSANNAY LA COTE    47.26667 4.986833 280
935827  21473001  DIJON-LONGVIC        47.26783 5.088333 219
1103209 21527001  LA ROCHEPOT          46.95250 4.674000 417
1178487 21564001  ST NIC. CITEAUX      47.12217 5.072167 203
1224387 21584001  SAULIEU              47.26417 4.215000 586
1272741 21590001  SAVIGNY LES BEA      47.05633 4.836667 246
1299404 21603001  SEMUR EN AUXOIS_SAPC 47.48200 4.340000 314

In [32]:
save(resuMFRR,resuMFTn,resuMFTx,
     MFRRposte,MFTnposte,MFTxposte,
     file = "MFData_mois.RData")